# Weights and Models
*.pth
*.pt

# Datasets and Matrices
*.hdf5
*.h5
*.npy
sim2real/calibration_data/

# Media and Outputs
*.mp4
*.jpg
*.png

# Logs and Caches
*.log
MUJOCO_LOG.TXT
__pycache__/
.DS_Store
.idea/
.vscode/

# Weights & Biases
wandb/
*wandb*

# Run Outputs and Local Configs
*_metrics.json
variables.txt

# Generated Physical Assets
STATERA_Checkerboard.pdf
STATERA_Markers_A4.pdf

# Hidden Local Folders
.archive/
.dev/