# Python 3.12 Required
mujoco
numpy
h5py
opencv-python
opencv-contrib-python
albumentations
torch
torchvision
timm
einops
matplotlib
fastapi
uvicorn
python-multipart
pillow
wandb
moviepy
imageio
imageio-ffmpeg
scipy
tqdm
huggingface_hub
python-dotenv